@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  color-scheme: light;
  --background: #f8f9fb;
  --foreground: #1a1d23;
  --card: #ffffff;
  --card-foreground: #1a1d23;
  --popover: #ffffff;
  --popover-foreground: #1a1d23;
  --primary: #003366;
  --primary-foreground: #ffffff;
  --secondary: #e8ecf1;
  --secondary-foreground: #003366;
  --muted: #d5dce5;
  --muted-foreground: #6b7684;
  --accent: #10b981;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --border: #e0e7f1;
  --input: #f0f4f9;
  --ring: #003366;
  --chart-1: #10b981;
  --chart-2: #003366;
  --chart-3: #0ea5e9;
  --chart-4: #8b5cf6;
  --chart-5: #f97316;
  --radius: 0.5rem;
  --sidebar: #f8f9fb;
  --sidebar-foreground: #1a1d23;
  --sidebar-primary: #003366;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #10b981;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e0e7f1;
  --sidebar-ring: #003366;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
